:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

/* Header.css */

.header-container {
  overflow: hidden;
}

.header-container,
.header-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.header-container {
  position: relative;
  width: 1440px;
  height: 127px;
  margin: 0 auto;
}
.logo {
  position: absolute;
  width: 162px;
  height: 127px;
  top: 0;
  left: 0;
  background: url(./assets/images/logo.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 40px;
  position: absolute;
  width: 686.621px;
  height: 43px;
  top: 42px;
  left: 691px;
  z-index: 1;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 48.414px;
  height: 17px;
  color: #000000;
  font-family: Rubik, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.about-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 74.483px;
  height: 17px;
  color: #000000;
  font-family: Rubik, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.features {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 72px;
  height: 17px;
  color: #000000;
  font-family: Rubik, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.contact-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 76px;
  height: 17px;
  color: #000000;
  font-family: Rubik, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.header-button {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 255.724px;
  padding: 13px 24px 13px 24px;
  cursor: pointer;
  background: #cfebf9;
  border: none;
  z-index: 6;
  border-radius: 12px;
}
.login-create-account {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #000000;
  font-family: Rubik, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}

/* Herosection.css */


.hero-section {
  overflow: hidden;
}

.hero-section,
.hero-section * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.hero-section {
  position: relative;
  width: 1278px;
  height: 539px;
  margin: 0 auto;
}
.tagline {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 784px;
  height: 202px;
  top: 0;
  left: 0;
  color: #5168ad;
  font-family: Merriweather, var(--default-font-family);
  font-size: 80px;
  font-weight: 700;
  line-height: 100.56px;
  text-align: left;
  z-index: 2;
}
.rectangle-2 {
  position: absolute;
  width: 401px;
  height: 319px;
  top: 21px;
  left: 877px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 8;
}
.rectangle-1 {
  position: absolute;
  width: 415px;
  height: 337px;
  top: 202px;
  left: 690px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 7;
}
.subheadline {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 648px;
  height: 120px;
  top: 249px;
  left: 0;
  color: #000000;
  font-family: Ponnala, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  opacity: 0.5;
  z-index: 1;
}
.herosection-button {
  position: absolute;
  width: 240px;
  height: 60px;
  top: 479px;
  left: 0;
  background: #264065;
  z-index: 5;
  border-radius: 16px 16px 16px 0;
  box-shadow: 0 24px 50px 0 rgba(0, 0, 0, 0.1);
}
.get-started {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 16px;
  left: 68px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}