.dashboard-admin {
    background-color: #cbdae4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dashboard-admin .div {
    background-color: #cbdae4;
    height: 864px;
    position: relative;
    width: 1440px;
  }
  
  .dashboard-admin .frame {
    align-items: flex-start;
    display: inline-flex;
    gap: 40px;
    left: 1134px;
    position: absolute;
    top: 63px;
  }
  
  .dashboard-admin .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    position: relative;
  }
  
  .dashboard-admin .ellipse {
    height: 40px;
    object-fit: cover;
    position: relative;
    width: 40px;
  }
  
  .dashboard-admin .group {
    height: 36px;
    margin-right: -4px;
    position: relative;
    width: 106px;
  }
  
  .dashboard-admin .text-wrapper {
    color: #4c4c4c;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .dashboard-admin .text-wrapper-2 {
    color: #b3b3b3;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 20px;
    white-space: nowrap;
  }
  
  .dashboard-admin .vuesax-linear-wrapper {
    align-items: flex-start;
    background-color: #f2f2f2;
    border-radius: 50px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 8px;
    position: relative;
  }
  
  .dashboard-admin .icon-instance-node {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .dashboard-admin .group-wrapper {
    background-color: #fafafa;
    border: 1px solid;
    border-color: #e6e6e6;
    border-radius: 4px;
    height: 48px;
    left: 277px;
    position: absolute;
    top: 55px;
    width: 741px;
  }
  
  .dashboard-admin .group-2 {
    height: 24px;
    left: 15px;
    position: relative;
    top: 11px;
    width: 270px;
  }
  
  .dashboard-admin .vuesax-linear-search {
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 24px !important;
  }
  
  .dashboard-admin .text-wrapper-3 {
    color: #4c4c4c;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    width: 232px;
  }
  
  .dashboard-admin .text-wrapper-4 {
    color: #4c4c4c;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 305px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 209px;
    white-space: nowrap;
  }
  
  .dashboard-admin .text-wrapper-5 {
    color: #4c4c4c;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 541px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 205px;
    white-space: nowrap;
  }
  
  .dashboard-admin .text-wrapper-6 {
    color: #4c4c4c;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    left: 734px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 201px;
    white-space: nowrap;
  }
  
  .dashboard-admin .group-3 {
    height: 49px;
    left: 281px;
    position: absolute;
    top: 255px;
    width: 552px;
  }
  
  .dashboard-admin .group-4 {
    height: 32px;
    left: 24px;
    position: absolute;
    top: 0;
    width: 503px;
  }
  
  .dashboard-admin .frame-3 {
    align-items: center;
    display: flex;
    gap: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 158px;
  }
  
  .dashboard-admin .element {
    background-color: #ffffff;
    border: 5px solid;
    border-color: #ebebeb;
    border-radius: 50px;
    height: 32px;
    overflow: hidden;
    position: relative;
    width: 32px;
  }
  
  .dashboard-admin .image {
    height: 32px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 32px;
  }
  
  .dashboard-admin .text-wrapper-7 {
    color: #7f7f7f;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 16px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard-admin .div-wrapper {
    align-items: flex-start;
    background-color: #ddede4;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    left: 236px;
    padding: 4px;
    position: absolute;
    top: 4px;
    width: 85px;
  }
  
  .dashboard-admin .text-wrapper-8 {
    color: #427a5b;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-right: -0.55px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 78px;
  }
  
  .dashboard-admin .text-wrapper-9 {
    color: #7f7f7f;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 429px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 8px;
    width: 72px;
  }
  
  .dashboard-admin .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 48px;
    width: 552px;
  }
  
  .dashboard-admin .group-5 {
    height: 49px;
    left: 281px;
    position: absolute;
    top: 315px;
    width: 552px;
  }
  
  .dashboard-admin .frame-4 {
    align-items: flex-start;
    background-color: #ff9595;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    left: 236px;
    padding: 4px;
    position: absolute;
    top: 4px;
    width: 86px;
  }
  
  .dashboard-admin .text-wrapper-10 {
    color: #7f7f7f;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 78px;
  }
  
  .dashboard-admin .group-6 {
    height: 49px;
    left: 281px;
    position: absolute;
    top: 375px;
    width: 552px;
  }
  
  .dashboard-admin .frame-5 {
    align-items: flex-start;
    background-color: #fcf8ce;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    left: 236px;
    padding: 4px;
    position: absolute;
    top: 4px;
    width: 86px;
  }
  
  .dashboard-admin .text-wrapper-11 {
    color: #928406;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 78px;
  }
  
  .dashboard-admin .group-7 {
    height: 49px;
    left: 281px;
    position: absolute;
    top: 435px;
    width: 552px;
  }
  
  .dashboard-admin .group-8 {
    height: 49px;
    left: 281px;
    position: absolute;
    top: 495px;
    width: 552px;
  }
  
  .dashboard-admin .group-9 {
    height: 49px;
    left: 281px;
    position: absolute;
    top: 555px;
    width: 552px;
  }
  
  .dashboard-admin .group-10 {
    height: 49px;
    left: 281px;
    position: absolute;
    top: 615px;
    width: 552px;
  }
  
  .dashboard-admin .group-11 {
    height: 49px;
    left: 281px;
    position: absolute;
    top: 675px;
    width: 552px;
  }
  
  .dashboard-admin .frame-6 {
    background-color: #264065;
    height: 864px;
    left: 0;
    position: absolute;
    top: 0;
    width: 245px;
  }
  
  .dashboard-admin .white-and-black {
    height: 127px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 162px;
  }
  
  .dashboard-admin .frame-7 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    left: 39px;
    position: absolute;
    top: 504px;
  }
  
  .dashboard-admin .frame-8 {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 12px;
    padding: 8px 24px 8px 16px;
    position: relative;
  }
  
  .dashboard-admin .text-wrapper-12 {
    color: #ffffff;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard-admin .frame-9 {
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    padding: 8px 24px 8px 16px;
    position: relative;
    width: 100%;
  }
  
  .dashboard-admin .text-wrapper-13 {
    color: #ff896b;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard-admin .frame-10 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    left: 39px;
    position: absolute;
    top: 196px;
  }
  
  .dashboard-admin .frame-11 {
    align-items: center;
    background-color: #cfebf9;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    padding: 8px 24px 8px 16px;
    position: relative;
    width: 167px;
  }
  
  .dashboard-admin .text-wrapper-14 {
    color: #4c4c4c;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard-admin .frame-12 {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    padding: 8px 24px 8px 16px;
    position: relative;
    width: 100%;
  }
  
  .dashboard-admin .text-wrapper-15 {
    color: #ffffff;
    font-family: "Manrope-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard-admin .overlap-group {
    background-color: #fcfcfc;
    border-radius: 4px;
    height: 290px;
    left: 1013px;
    position: absolute;
    top: 196px;
    width: 351px;
  }
  
  .dashboard-admin .rectangle {
    background-color: #fcfcfc;
    border-radius: 12px;
    height: 290px;
    left: 0;
    position: absolute;
    top: 0;
    width: 351px;
  }
  
  .dashboard-admin .text-wrapper-16 {
    color: #000000;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 107px;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: 31px;
    white-space: nowrap;
  }
  
  .dashboard-admin .frame-13 {
    align-items: center;
    display: flex;
    gap: 40px;
    left: 18px;
    position: absolute;
    top: 88px;
    width: 306px;
  }
  
  .dashboard-admin .text-wrapper-17 {
    color: #4c4c4c;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 16px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard-admin .text-wrapper-18 {
    color: #7f7f7f;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard-admin .text-wrapper-19 {
    color: #7f7f7f;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 233px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 7px;
    white-space: nowrap;
  }
  
  .dashboard-admin .frame-14 {
    align-items: center;
    display: flex;
    gap: 40px;
    left: 18px;
    position: absolute;
    top: 140px;
    width: 306px;
  }
  
  .dashboard-admin .frame-15 {
    align-items: center;
    display: flex;
    gap: 40px;
    left: 18px;
    position: absolute;
    top: 192px;
    width: 306px;
  }
  
  .dashboard-admin .frame-16 {
    align-items: center;
    background-color: #5168ad;
    border-radius: 4px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 126px;
    padding: 8px;
    position: absolute;
    top: 248px;
  }
  
  .dashboard-admin .text-wrapper-20 {
    color: #ffffff;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dashboard-admin .overlap {
    background-color: #fcfcfc;
    border-radius: 4px;
    height: 290px;
    left: 1013px;
    position: absolute;
    top: 524px;
    width: 351px;
  }
  
  .dashboard-admin .frame-17 {
    align-items: center;
    background-color: #5168ad;
    border-radius: 4px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 137px;
    padding: 8px;
    position: absolute;
    top: 248px;
  }
  