/* src/components/residents/EventCard.module.css */

.eventCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 300px; /* Adjust this margin to ensure it doesn't overlap with the sidebar */
    padding: 20px;
    max-width: calc(100% - 300px); /* Adjust the width based on your layout */
    box-sizing: border-box;
  }
  
  .card {
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  }
  
  .card p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666;
  }
  
  .goCorner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
  }
  
  .goArrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  