:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .login-container {
    overflow: hidden;
  }
  
  .logn-container,
  .login-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .login-container {
    position: relative;
    width: 1440px;
    height: 864px;
    margin: 0 auto;
    background: #cbdae4;
    overflow: hidden;
  }
  .white-and-black-modern {
    position: relative;
    width: 162px;
    height: 127px;
    margin: 0 0 0 0;
    background: url(../assets/logo.png)
      no-repeat center;
    background-size: cover;
  }
  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 458px;
    margin: 51.884px 0 0 491px;
    padding: 24px 24px 24px 24px;
    border: 1px solid #ababab;
    z-index: 1;
    border-radius: 12px;
  }
  .frame-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    min-width: 0;
    z-index: 2;
  }
  .icon-pack {
    flex-shrink: 0;
    position: relative;
    width: 38px;
    height: 38px;
    z-index: 3;
    overflow: hidden;
  }
  .vector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/login.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 4;
  }
  .login {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 39px;
    color: #2d2e2e;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: 38.727px;
    text-align: center;
    white-space: nowrap;
    z-index: 5;
  }
  .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 4;
  }
  .email {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #2d2e2e;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .input {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    padding: 17px 16px 17px 16px;
    background: #f6f6f6;
    z-index: 8;
    overflow: hidden;
    border-radius: 4px;
  }
  .input-3 {
    flex-shrink: 0;
    position: absolute;
    width: 410px;
    height: 56px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 10;
    outline: none;
  }
  .enter-email-address {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ababab;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .frame-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 11;
  }
  .frame-5 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 12;
  }
  .password {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 410px;
    height: 19px;
    color: #2d2e2e;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 13;
  }
  .input-6 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    padding: 17px 16px 17px 16px;
    background: #f6f6f6;
    z-index: 14;
    overflow: hidden;
    border-radius: 4px;
  }
  .input-7 {
    flex-shrink: 0;
    position: absolute;
    width: 410px;
    height: 56px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 16;
    outline: none;
  }
  .enter-email-address-8 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ababab;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
  }
  .frame-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 17;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    padding: 17px 30px 17px 30px;
    background: #264065;
    z-index: 18;
    border-radius: 4px;
  }
  .contact-us2 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    z-index: 19;
  }
  .group {
    flex-shrink: 0;
    position: relative;
    width: 410px;
    height: 23.231px;
    z-index: 20;
  }
  .sign-up {
    position: absolute;
    width: 410px;
    height: 23.231px;
    top: 0;
    left: 0;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 21;
  }
  .dont-have-account {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }
  .text-8 {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }
  .text-9 {
    position: relative;
    color: #eb9350;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }
  