:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .signup-container {
    overflow: hidden;
  }
  
  .signup-container,
  .signup-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .signup-container {
    position: relative;
    width: 1440px;
    height: 864px;
    margin: 0 auto;
    background: #cbdae4;
    overflow: hidden;
  }
  .white-and-black-modern {
    position: absolute;
    width: 162px;
    height: 127px;
    top: 0;
    left: 0;
    background: url(../assets/logo.png)
      no-repeat center;
    background-size: cover;
  }
  .signup-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 458px;
    height: 652.552px;
    top: 50%;
    left: 50%;
    padding: 24px 24px 24px 24px;
    border: 1px solid #ababab;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 12px;
  }
  .frame-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    min-width: 0;
    z-index: 2;
  }
  .icon-pack {
    flex-shrink: 0;
    position: relative;
    width: 38px;
    height: 38px;
    z-index: 3;
    overflow: hidden;
  }
  .vector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/login.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 4;
  }
  .sign-up-2 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 39px;
    color: #2d2e2e;
    font-family: Inter, var(--default-font-family);
    font-size: 32px;
    font-weight: 600;
    line-height: 38.727px;
    text-align: center;
    white-space: nowrap;
    z-index: 5;
  }
  .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 6;
  }
  .name {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #2d2e2e;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
  }
  .input {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    padding: 17px 16px 17px 16px;
    background: #f6f6f6;
    z-index: 8;
    overflow: hidden;
    border-radius: 4px;
  }
  .input-4 {
    flex-shrink: 0;
    position: absolute;
    width: 410px;
    height: 56px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 10;
    outline: none;
  }
  .enter-email-address {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ababab;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .frame-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 11;
  }
  .email {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 19px;
    color: #2d2e2e;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .input-6 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    padding: 17px 16px 17px 16px;
    background: #f6f6f6;
    z-index: 13;
    overflow: hidden;
    border-radius: 4px;
  }
  .input-7 {
    flex-shrink: 0;
    position: absolute;
    width: 410px;
    height: 56px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 15;
    outline: none;
  }
  .email-input {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ababab;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .frame-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 16;
  }
  .frame-9 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    z-index: 17;
  }
  .password-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 410px;
    height: 19px;
    color: #2d2e2e;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
  }
  .input-a {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    padding: 17px 16px 17px 16px;
    background: #f6f6f6;
    z-index: 13;
    overflow: hidden;
    border-radius: 4px;
  }
  .input-field {
    flex-shrink: 0;
    position: absolute;
    width: 410px;
    height: 56px;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    z-index: 15;
    outline: none;
  }
  .password-input-b {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ababab;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .group {
    position: relative;
    width: 143px;
    height: 15.321px;
    margin: 0 auto;
    border-radius: 2px;
  }
  .agree-terms-policy {
    position: absolute;
    width: 128px;
    height: 15.321px;
    top: 0;
    left: 15px;
    font-family: Poppins, var(--default-font-family);
    font-size: 9px;
    font-weight: 500;
    line-height: 13.5px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
  }
  .agree-terms-policy-c {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 9px;
    font-weight: 500;
    line-height: 13.5px;
    text-align: left;
  }
  .terms-policy {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 9px;
    font-weight: 500;
    line-height: 13.5px;
    text-align: left;
    text-decoration: underline;
  }
  .signup-rectangle {
    position: absolute;
    width: 9px;
    height: 9.849px;
    top: 2.189px;
    left: 0;
    border: 1px solid #000000;
    z-index: 1;
    border-radius: 2px;
  }
  .frame-d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 17;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    padding: 17px 30px 17px 30px;
    background: #264065;
    z-index: 18;
    border-radius: 4px;
  }
  .contact-us {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 22px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    white-space: nowrap;
    z-index: 19;
  }
  .group-e {
    flex-shrink: 0;
    position: relative;
    width: 410px;
    height: 23.231px;
    z-index: 20;
  }
  .sign-in {
    position: absolute;
    width: 410px;
    height: 23.231px;
    top: 0;
    left: 0;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 21;
  }
  .have-account {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }
  .text-8 {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }
  .sign-in-f {
    position: relative;
    color: #eb9350;
    font-family: Poppins, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }
  .terms-policy-d{
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    line-height: 21px;
    text-align: left;
  }
